body {
    background-color: gray;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95vw;
  height: 95vh;
  touch-action: none;
}

#draggable {
  border: 3px solid black;
  width: 80%;
  height: 80%;
}


#vidStream {
    object-fit: fill;
    cursor: none;
    width: 100%;
    height: 100%;
    touch-action: none;
}